body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.card {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  cursor: default;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  background-color: #ccc;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.card.b .front {transform: rotateY(180deg);}
.card.b .back {transform: rotateY(360deg);}


#app{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 700px;
  height: 700px;
}
@keyframes load { from { width: 100%; } to { width: 0; }  }
#timer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 20px;
  background: red;
}
#timer.a{
  animation: 15s linear 0s infinite alternate load;
}